@page
@model ScheduleManager.Pages.Shared.ConfirmEmailModel
@{
}

<div class="container my-auto">
    <h3 style="margin: 0; position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%)">Thank you for confirmation! Press  <a href="@Url.Content("/ViewRequestsUser")">here</a> to login</h3>
</div>
